{% extends "base.html" %}
{% load static %}
{% block title %}
Index | Page
{% endblock title %}

{% block body %}
<div class="container">
  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-4">
      <form novalidate method="POST">
        {% csrf_token %}
        {% for fm in form %}
        <div class="mb-3">
          <label class="form-label">{{fm.label_tag}}</label>
          {{fm}} <span class="text-danger"><i>{{fm.errors|striptags}}</i></span>
        </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-8">

      <table class="table">
        <thead>
          <tr>

            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>


          {% for i in all_employee %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>
              <a href="{% url 'updateemp' i.id %}" class="btn btn-sm btn-success">edit</a>
              <a href="{% url 'deleteemp' i.id %}" class="btn btn-sm btn-danger">delete</a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}